* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background-media {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}


body {
    width: 1920px;
    margin: 0 auto;
}

#top {
    height: 30px;
}

#time-box {
    height: 100px;
}

#search-box {
    height: 60px;
}

#body {
    min-height: calc(100vh - 240px);
}

#bottom {
    height: 50px;
}
