* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1920px;
    margin: 0 auto;
}

#top {
    height: 30px;
    background-color: red;
}

#time-box {
    height: 100px;
    background-color: green;
}

#search-box {
    height: 60px;
    background-color: orange;
}

#body {
    min-height: calc(100vh - 240px);
    background-color: yellow;
}

#bottom {
    height: 50px;
    background-color: cyan;
}
